/*----------------------------------
  colors
----------------------------------*/
$mainColor: #7e1012;
$darkColor: #4a4a4a;
$grayColor: #f8f8f5;
/*----------------------------------
  framework
----------------------------------*/
* {
  box-sizing: border-box !important;
}

.img-fluid {
  width: 100%;
}

%heading {
  display: inline-block;
  padding: 0 1rem;
  margin-bottom: 2rem;
  position: relative;
  text-align: center;
  &:after {
    content: "";
    display: block;
    width: 120%;
    position: absolute;
    bottom: -10%;
    left: 0;
    height: 1px;
    background-color: $mainColor;
  }
  &.center {
    &:after {
      left: -10%;
    }
  }

  .label {
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    color: $mainColor;
    font-weight: 300;
    font-size: 1.1rem;
    h2 {
      text-transform: capitalize;
    }
  }
  @media (max-width: 765px) {
    text-align: left;
    padding: 0 3rem;
    &:after {
      display: none;
    }
    display: block;
    background-color: $grayColor;
    border: none;
    .label {
      font-weight: 400;
      font-size: 1rem;
    }
    h2 {
      font-size: 1.5rem;
    }
  }

}

%pt {
  font-size: 12.5px;
  margin-bottom: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.content {
  max-height: 100vh;
  overflow-x: hidden;
}

section {
  padding: 3rem 0;
  &:last-of-type {
    padding: 3rem 0 0;
  }
}

section {
  .row {
    margin: 0;
    .col-5, .col-md-5 {
      > p {
        @extend %pt;
      }
    }
    div[class^="col"] {
      padding: 0;
      @media (max-width: 768px) {
        padding: 0;
      }
    }
  }
}

%skew-holder {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  div[class^="skew-border"] {
    content: '';
    display: block;
    width: 1px;
    background-color: transparentize($mainColor, .3);
    position: absolute;
    height: 300px;
    z-index: 5;
  }
  .skew-border-top {
    top: -48px;
    @media (max-width: 768px) {
      top: 5%;
    }
  }
  .skew-border-bottom {
    bottom: -48px;
    @media (max-width: 768px) {
      display: none !important;
    }
  }
  .skew-holder {
    position: absolute;
    width: 120%;
    left: -10%;
    z-index: 7;
    @media (max-width: 768px) {
      width: 50%;
      left: unset;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }

  }
}

body {
  //overflow: hidden;
}

/*----------------------------------
  header
----------------------------------*/
.header {
  .main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #fff;
    z-index: 10;
    .brand {
      margin-left: 1rem;
      padding: .3rem .2rem .2rem;
    }
    .button {
      margin-left: auto;
      display: flex;
      align-items: center;
      a {
        display: block;
        margin-right: 1rem;
        padding: .3rem;
        height: 2rem;
        width: 2rem;
      }
    }
    &.hidden {
      display: none;
    }
  }
  .sidenav {
    z-index: 9;
    &.nano {
      position: absolute;
      left: -100%;
      aside {
        transform: translate3d(100%, 0, 0);
        visibility: hidden;
        &.active {
          visibility: visible;
          transform: translate3d(200%, 0, 0);
        }
      }
    }
  }
  aside {
    min-height: 100vh;
    height: 100vh;
    width: 100%;
    overflow-y: auto;
    background-color: #fff;
    transition: all .5s ease-in-out;
    ul {
      li {
        margin: 1rem 0;
        a {
          color: $darkColor;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 1rem;
          &:hover {
            color: $mainColor;
          }
        }
      }
    }
    .contacts {
      li {
        &:hover {
          .fa {
            color: $mainColor;
          }
        }
      }
      p {
        font-size: .8rem;
      }
      .fa {
        display: block;
        color: $darkColor;
        transition: all ease-in-out .5s;
      }

    }

  }
  .carousel-wrapper {
    position: relative;
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;
      width: 100%;
      height: 100%;
      background-color: transparentize($darkColor, .8);

      h1 {
        color: #fff;
        position: relative;
        &:after {
          content: '';
          display: block;
          width: 100%;
          height: 300%;
          border: 2px solid transparentize(white, .7);
          transform: rotate(45deg);
          position: absolute;
          top: -100%;
        }
        @media (max-width: 756px) {
          font-size: 1.5rem;
        }
      }

      .scroll-down {
        position: absolute;
        width: 100%;
        height: 20%;
        bottom: 0;
        left: 0;
        z-index: 6;
        text-align: center;
        a {
          display: inline-block;
          position: absolute;
          bottom: 3rem;
          i {
            &:first-of-type {
              color: transparentize(white, 1);
              font-size: 1rem;
              animation: chevronScorll 3s ease-in infinite;
            }
            &:last-of-type {
              color: white;
              font-size: 1.8rem;
            }

          }

        }
      }
    }
    .carousel {
      .carousel-item {
        height: 100%;
        background: url('../img/car2.png') no-repeat;
        background-size: cover;
        &:first-of-type {
          background: url('../img/car1.png') no-repeat;
        }
      }
    }
  }
}

/*----------------------------------
  sections

----------------------------------*/

.the-foundation {
  p {
    color: $darkColor;
    font-size: .9rem;
    margin-bottom: .5em;
  }
  .text-center {
    > P {
      @extend %pt;
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }
  .about {
    .img-wrapper {
      margin-right: 1rem;
    }
  }
}

.geelong {
  .col-md-2 {
    @extend %skew-holder;
  }
}

.scholarship {
  .col-md-2 {
    @extend %skew-holder;
  }

}

.cultural {
  .col-md-2 {
    @extend %skew-holder;
  }
  .map {
    position: relative;
    > div {
      z-index: 6;
      position: absolute;
      width: 150%;
      top: calc(-50% - 1rem)

    }
    @media (max-width: 768px) {
      top: 0;
      > div {
        position: static;
        width: 100%;
        top: 0;
      }

    }
  }
}

.sponsored {
  .col-md-2 {
    @extend %skew-holder;
  }

}

.viquque {
  .col-md-2 {
    @extend %skew-holder;
  }

}

.legacy {
  .col-md-2 {
    @extend %skew-holder;
  }
  .img-fluid {
    width: 100%;
  }
}

.support {
  .col-md-2 {
    @extend %skew-holder;
  }
  .col-md-2 {
    div:last-of-type {
      display: none;
    }
  }
  blockquote {
    margin-top: 2rem;
    p {
      &::before {
        content: "\f10d";
        font-family: "FontAwesome";
        color: $mainColor;
        display: block;
        margin-left: -2rem;
        font-size: 1.5rem;
      }
      padding: 0 1rem;
      color: $mainColor;
    }
  }
}

/*----------------------------------
  footer
----------------------------------*/
footer {
  background-color: $grayColor;
  padding: 1rem 0 0;
  ul {
    li {
      a {
        padding: 0;
        display: block;
        height: 3.5rem;
        width: 3.5rem;
        border: 1px dotted $darkColor;
        border-radius: 50%;
        line-height: calc(3.5rem - 2px);
        text-align: center;
        img {

        }
      }
    }
  }
}

.section-header {
  @extend %heading;
}

/*----------------------------------
  animtions
----------------------------------*/
@keyframes chevronScorll {
  100% {
    transform: translate3d(0, 1rem, 0);
    color: #fff;
  }

}